{
    "IsEncrypted": false,
    "Values": {
      "FUNCTIONS_WORKER_RUNTIME": "node",
      "AzureWebJobsStorage": "UseDevelopmentStorage=true",
      "TIMER_TRIGGER_SCHEDULE": "*/5 * * * * *"
    }
}